extends layout

block content
  h1= 'CRM-Backend'
  p Welcome to CRM-Backend
  ul
    li
      a(href='/users') Users
    li
      a(href='/slider') Slider
    li
      a(href='/companydescription') Company Description
    li
      a(href='/medias') Medias
    li
      a(href='/experts') Experts
    li
      a(href='/messages') Messages
<<<<<<< HEAD
    li 
      a(href='/products') Products
=======
    li
      a(href='/subscribers') Subscribers
    li
      a(href='/menus') Menus
>>>>>>> 56c0e5f4a0e49ae178877b4d8cf76b8f488ee60a
